<h2> <%= theColor.keyword %> </h2>

<p>
  <b>Category: <%= theColor.category %> </b>
</p>

<p>
  <b>Hex Code: <%= theColor.hex %></b>
</p>

<div class="color-sample" style="background-color: <%= theColor.hex %> "> </div>
